@import "media";
@import "variables";
@import "base";

footer{
    padding-top: 60px;
    background: rgba(0,0,0,0.4);
    margin-top: 100px;
    text-align: center;
    position: relative;
    overflow: hidden;

    &::before{
        position: absolute;
        content: '';
        height: 600px;
        width: 80%;
        border-radius: 100%;
        filter: blur(30px);
        background: $secondary;
        z-index: -1;
        left: 50%;
        top: -30%;
        transform: translateX(-50%);
    }

    p{
        font-size: 25px;
        margin-bottom: 20px;
    }

    a{
        text-decoration: none;
        font-size: 20px;
        padding: 10px 30px;
        background: $white;
        color: $primary;
        margin-top: 30px;
        display: inline-block;
    }

    .copyright{
        margin-top: 50px;
        background: $black;
        padding: 20px;
    }
}